/* Universal selector starts here */
*{margin:0;
 padding:0;}
/* Universal selector ends here */

/* Introductory part starts here */
body{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
h1{
position: absolute;
width: 122px;
height: 36px;
margin-left: 160px;
margin-top: 53px;
}
.btn{
position: absolute;
width: 243px;
height: 62px;
margin-left: 1116px;
margin-top: 40px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 26px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 21x;
font-weight: 600;
line-height: 24px;
text-align: center;
}
/* Introductory part ends here */
/* Banner part starts here */
.hero{
position: absolute;
width: 1536px;
height: 695px;
margin-left: 0;
margin-right: 0;
margin-top: 140px;
margin-bottom: 79px;
background-image: url('Assets/Hero-bg.png');
background-size: cover;
background-position: center;
}
.banner{
position: absolute;
width: 1064px;
height: 621px;
margin-left: 236px;
margin-right: 236px;
margin-top: 28px;
margin-bottom: 47px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}
.banner img{
position: relative;
width: 183.5px;
height: 244px;
margin-left: 404px;
margin-right:404px ;
margin-top: 0px;
margin-bottom: 34px;
}
.bannerContainer{
position: relative;
width: 1065px;
height: 331px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}
.bannerContainer h2{
position: absolute;
width: 1065px;
height: 145px;
margin-bottom: 26px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}
.bannerContainer p{
position: absolute;
width: 852px;
height: 52px;
margin-top: 52px;
margin-bottom: 34px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
.btn2{
position: absolute;
width: 222px;
height: 70px;
margin-top: 88px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
border-radius: 8px;
background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
text-align: center;
}

/* Banner part ends here */